@page
@model Dental_Surgery.Pages.Admin2.Dentists.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dentist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dentist.FirstName" class="control-label"></label>
                <input asp-for="Dentist.FirstName" class="form-control" />
                <span asp-validation-for="Dentist.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.LastName" class="control-label"></label>
                <input asp-for="Dentist.LastName" class="form-control" />
                <span asp-validation-for="Dentist.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.Specialization" class="control-label"></label>
                <input asp-for="Dentist.Specialization" class="form-control" />
                <span asp-validation-for="Dentist.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.AwardingBody" class="control-label"></label>
                <input asp-for="Dentist.AwardingBody" class="form-control" />
                <span asp-validation-for="Dentist.AwardingBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.ContactNumber" class="control-label"></label>
                <input asp-for="Dentist.ContactNumber" class="form-control" />
                <span asp-validation-for="Dentist.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.Email" class="control-label"></label>
                <input asp-for="Dentist.Email" class="form-control" />
                <span asp-validation-for="Dentist.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dentist.Image" class="control-label"></label>
                <input asp-for="Dentist.Image" class="form-control" />
                <span asp-validation-for="Dentist.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
